/*=============================================
CARRITO DE COMPRAS
=============================================*/

.cabeceraCarrito {
    height: 40px;
}

.cabeceraCarrito h3 {
    margin-top: -5px
}

.cabeceraCheckout {
    height: 66px;
}


/*=============================================
CHECKOUT
=============================================*/

.contenidoCheckout,
.contenidoCheckout .row {
    padding: 0px 20px;
}

.formEnvio {
    display: block;
}